<h1>Create a Team and Heros!</h1>

<form action="/teams" method="post">
  Team Name: <input type="text" id="team_name" name="team[name]"><br>
  Team Motto: <input type="text" id="team_motto" name="team[motto]"><br>

<h1>Hero 1</h1>
  Hero's Name: <input type="text" id="team_motto" name="team[motto]"><br>
  Hero's Power:
  Hero's Biography

<h1>Hero 2</h1>
  Hero's Name:
  Hero's Power:
  Hero's Biography

<h1>Hero 3</h1>
  Hero's Name:
  Hero's Power:
  Hero's Biography
</form>
